    <!-- About Section -->
    <section id="about" class="container content-section text-center">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
          <br/><br/>
          <h2>About</h2>
          <br/>
Hera Global Tech Inc. is a women led company that addresses the issues of women's safety by its personal safety products and solutions designed with the user and community in mind. With headquarters in Pittsburgh, PA and a presence in Bangalore, India, it was founded in 2017 as a response to the rise in sexual abuse and assault cases in recent years. 
<br/><br/>
The company’s first product ‘Autonomous’, is a unique system that consists of a wearable device and associated phone app that leverage current and emerging sensor technology. The system intuitively detects a high-risk situation based on physiological and personal responses and alerts the wearer's identified contacts or community, with their location. Unlike other devices which require one to press a button or make a phone call, Autonomous provides an instinctive reaction, while remaining inconspicuous. It is designed with the understanding that everyone is vulnerable and one may not have the time to consciously react when the unexpected happens,
Autonomous is one of the 21 semi-finalists selected for the Anu & Naveen Jain Safety XPRIZE in 2018.
<br/><br/>
Hera Global Tech’s commitment to bring about meaningful change goes beyond money. The company supports social organizations and efforts that address the problem to bring about meaningful impact in the short term and long term.
          <br/>
          <br/>
          <br/>
        </div>
      </div>
    </section>
