<section id="contact">
	<div class="banner">
		<div class="container">

			<div class="row">
				<div class="col-lg-6">
					<h3>Keep in Touch:</h3>
					<div id="after_submit"></div>
					<!-- mail form starts here -->
						<form class="gform" method="POST" data-email="ncecchino@gmail.com" action="https://script.google.com/macros/s/AKfycbxIgIkR4Cb4n5_4m0XCZR38-9YuHHQ4BsKkBRjpT7Yw7i4Glg/exec">
          				First name<br>
          				<input type="text" name="firstname" size="20"><br>
          				Last name<br>
          				<input type="text" name="lastname" size="20"><br>
          				Email<br>
          				<input type="text" name="email" size="20"><br>
          				Subject<br>
          				<input type="text" name="subject" size="50"><br>
          			<!-- PROBLEM - Can't seem to resize the message box.  I'm thinking it has to do with the CSS -->
          				Message<br>
          				<input type="text" name="message"  height: 50px><br>
          			<!-- mail form ends here -->
          			<!-- submit button here -->	
          				<input type="submit" value="Submit">
          				<div style="display:none" class="thankyou_message">
 					<!-- Thankyou message below -->
 						<h3><em>Thanks</em> for contacting us!</h3>
 						</div>
 						</form>
		  		</div>
        				
								
					
					</div>

				</div>
		<!-- /.container -->

	</div>
</section>
<script data-cfasync="false" type="text/javascript" src="./js/form-submission-handler.js"></script>