<!-- Footer -->
<footer>
    <div class="container">
        
        <div class="row">
            <div class="col-md-8">
                <ul class="list-inline">
                    <li>
                        <a href="#home">Home</a>
                    </li>
                    <li class="footer-menu-divider">&sdot;</li>
                    <li>
                        <a href="#about">About</a>
                    </li>
                    <li class="footer-menu-divider">&sdot;</li>
                    <li>
                        <a href="#contact">Contact</a>
                    </li>
                    <li>
                    <a href="https://twitter.com/hera_globaltech" target="_blank"><img src="../img/twitter_ic.png"></a>
                    <a href="https://www.linkedin.com/company/13463389/" target="_blank"><img src="../img/linkedin_ic.png"></a>
                    <a href="http://instagram.com/hera_globaltech" target="_blank"><img src="../img/instagram_ic.png"></a>
                    <a href="https://vimeo.com/heraglobaltech" target="_blank"><img src="../img/vimeo_ic.png"></a>
                    <br>
                    #safetyforeveryone
                    </li>
                </ul>
                <p class="copyright text-muted small">
                    Copyright &copy; 2018 Hera Global Tech, inc. All Rights Reserved.
                    <br>
                    <a href="mailto:info@HeraGlobalTech.com" target="_top">info@HeraGlobalTech.com</a>
                </p>
            </div>
            <div class="col-md-4">
                

            </div>
        </div>
    </div>
</footer>
