<section id="team">
  <div class="banner">
    <div class="container">

<!--<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Meet the Team</title>
	<link rel="stylesheet" href="team.css">
</head>

<body> -->
 
<div class="row">
  <div class="column">
    <div class="card">
      <img src="../website_images/ElizabethLaRue.jpg" alt="Elizabeth" style="width:100%">
	  <div class="container">
        <h2>Elizabeth LaRue, PhD</h2>
        <p class="title">Co-Founder &amp; CEO</p>
        <p>Elizabeth is a two time Fulbright Scholar, with expertise in health informatics, teaching and research methods.  Experiences from living in Sub-Saharen Africa and the Western World motivated her to be an advocate for equal education, social responsibility, and bringing "good will" back into communities and Society.</p>
        <p>elizabeth.larue@heraglobaltech.com</p>
      </div>
    </div>
</div>
  

  <div class="column">
    <div class="card">
      <img src="../website_images/Poorvi.jpg" alt="Poorvi" style="width:100%">
	  <div class="container">
        <h2>Poorvi Mathur, MA</h2>
        <p class="title">Co-Founder &amp; Strategist</p>
        <p>Poorvi is a design manager with expertise in design thinking, research and innovation, with a keen interest in its social impact.  She conceptualized Autonomous as a response to the brutal gag rape of a young girl in Delhi in 2012.  Having lived in India and the USA, she brings in an understanding of problems in a global context.</p>
        <p>poorvi@heraglobaltech.com</p>
		</div>
    </div>
  </div>
 
  

   <div class="column">
    <div class="card">
      <img src="../website_images/BradySheehan.jpg" alt="Brady" style="width:100%">
	  <div class="container">
        <h2>Brady Sheehan, BS</h2>
        <p class="title">Co-Founder &amp; CTO</p>
        <p>Brady is a software engineer with a strong background in mathematics.  His experience comes from multiple years of research in low-level computer vision, both within industry & academia.  His passion is applyig mathematical models to solve problems in a wide range of domains for the ultimate goal of helping others.</p>
        <p>brady@heraglobaltech.com</p>
      </div>
    </div>
   </div>
</div>
<div class="row">   
   <div class="column">
    <div class="card">
      <img src="../website_images/melissa.jpg" alt="Melissa" style="width:100%">
      <div class="container">  
		<h2>Melissa Tolbert, BS</h2>
        <p class="title">Sales &amp; Marketing</p>
        <p>Melissa Tolbert is a Sales & Marketing Manager in the insurance industry.  While her career has always been in protecting others.  It is her experience in selling & marketing products through passsionate discussions, that makes her understand the importance of health, safety & community.</p>
        <p>melissa@heraglobaltech.com</p>
		</div>
    </div>
  </div>

 <div class="column">
    <div class="card">
      <img src="img3.jpg" alt="Rehan" style="width:100%">
	  <div class="container">
        <h2>Rehan Koreishi</h2>
        <p class="title">Designer</p>
        <p>Rehan is  community oriented product designer and excellent critical thinker.  Design is his substantial backing while his empathy and love for innovation is his driving force.  His space includes nature, knowledge and new experiences.</p>
        <p>fishmax140@gmail.com</p>
	   </div>	
      </div>
    </div>

 <div class="column">
    <div class="card">
      <img src="../website_images/sds.jpg" alt="Design" style="width:100%">
      <div class="container">
        <h2>Software Design Solutions</h2>
        <p class="title">Vendor Partner</p>
        <p>Founded in 2003, Software Design Solutions develops high-quality software for embedded systems.  Their areas of expertise include workstation applications, user interface design, and software process improvement.</p>
		<p>email@designsolutions.com</p>
		
      </div>
    </div>
  </div>
 </div>


  </div>

        </div>
    <!-- /.container -->
<!--
</body>
</html>
-->



    </div>
  </div>
</section>


